.wrapper {
  width: 90%;
}
#social {
  position: absolute;
  top: 82px;
  right: 4px;
  width: 82px;
  z-index: 2;
}
  
body {
  font-size: 85%
}
#logo h1 {
  height: 35px;
  width: 35px;
}
#logo h2 {
  font-size: 2.2em;
}
.col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 2;
  
#social {
  position: fixed;
  top: 72px;
  right: 20px;
  width: 40px;
  z-index: 2;
}
#navbar nav a {
  display: inline-block;
  width: 16.6666667%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 0.9em "Trebuchet MS", Arial, sans-serif;
}
col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 1;
}
  
 .col-1 {
  margin-left: 0;
  width: 100%;
  float: none;
  }
 .col-2 {
  margin-left: 0;
  width: 100%;
  float: none;
  }
  .col-3 {
  margin-left: 0;
  width: 100%;
  float: none;
  }
 
border-right {
  border-right: 0;
} 
  #details div {
  height: 0;
}
